<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Matadores</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" v-bind:class="{danger:addClassDangerJogador}"></div>
                </div>
                <span class="jogadorPorcentagem">{{vidaJogador}} %</span>
                <div></div>
            </div>
            <div class="score">
                <h1>Mega Invasor</h1>
                <div class="life-bar">
                    <div class="life" v-bind:class="{danger:addClassDangerInvasor}"></div>
                </div>
                <span class="invasorPorcentagem">{{vidaInvasor}} %</span>
                <div></div>
            </div>
        </div>
        <div v-show="isPainelResult" class="panel result">
            <div v-show="isvoceGanhou" v-if="isPainelResult" class="win"> Você ganhoou!!! :)</div>
            <div v-show="!isvoceGanhou" v- else="isPainelResult" class="lose">Você perdeeu! :(</div>
        </div>
        <div class="panel buttons">

            <template>
                <button v-show="isIniciarJogo" class="btn new-game" @click="iniciarGame">Iniciar Jogo</button>
                <button v-show="isAtaque" @click="ataque" class=" btn attack">Ataque</button>
                <button v-show="isAtaqueEspecial" @click="ataqueEspecial" class="btn especial-attack">Ataque
                    Especial</button>
                <button v-show="isCurar" @click="curar" class="btn heal">Curar</button>
                <button v-show="isDesistir" @click="desistir" class="btn give-up">Desistir</button>
            </template>
        </div>
        <div v-show="painelLog" class="panel logs">
            <ul>
                <template v-for="log in logs" v-if="desistir">
                    <li class="invasor">{{log.invasor}} </li>
                    <li class="player">{{log.jogador}} </li>
                </template>
            </ul>
        </div>
    </div>
    <script src="./app.js">

    </script>
</body>

</html>